.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

/Auhth.MD
/Tables.MD
CLAUDE.md
/Storage.MD
/APPTABLES.MD
*selfdb-swift-app/*
/expo-logs.md
/JS-SDK.MD
/expo-app.md
.claude/
UI/
/selfdbapireference.md
